<div class="row">
  <aside class="col-xs-4">
    <section>
      <%= gravatar_for @user, size: 52%>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-xs-8">
  </div>
</div>